
:root

{

--verde-principal: #25da61;

--verde-secundario: #1cbe52;

--verde-hover: #4ddf8f;

--fondo-principal: #06100b;

--fondo-secundario: #0b190c;

--superficie: #112312;

--borde: #244428;

--texto-principal: #f4faf7

; --texto-secundario: #a7c2ac;

}