:root

{

--verde-principal: #39F28A;

--verde-secundario: #28D97A;

--verde-hover: #66F7A8;

--fondo-principal: #060B10;

--fondo-secundario: #0B1219;

--superficie: #111923;

--borde: #243244;

--texto-principal: #F4F7FA

; --texto-secundario: #A7B3C2;

}